<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="GET">
    <div>
        <label for="nombreApellido">Nombre y apellido:</label>
        <input type="text" name="nombreApellido" id="nombreApellido">
    </div>
    <div>
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" name="usuario" id="usuario">
    </div>
    <div>
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento">
    </div>

    <div>
        <label for="domicilio">Nombre y apellido:</label>
        <input type="text" name="domicilio" id="domicilio">
    </div>
    <div>
        <label>Querés comprar o vender?</label>
    <input type="radio" name="vendedor" id="vendedor">
    <label for="vendedor">vendedor</label>
    <input type="radio" name="comprador" id="comprador">
    <label for="comprador">comprador</label>
    </div>
    <div>
        <label>Categorías de interés:</label>
        </div>
        <div>
        <input type="checkbox" name="electro" id="electro">
        <label for="electro">Electro</label>
          </div>
          <div>
            <input type="checkbox" name="moda" id="moda">
            <label for="moda">Moda</label>
          </div>
          <div>
            <input type="checkbox" name="hogar" id="hogar">
        <label for="hogar">Hogar</label>
        </div>
        <div>
            <input type="checkbox" name="jugueteria" id="jugueteria">
        <label for="jugueteria">Juguetería</label>
        </div>
        <div>
            <input type="checkbox" name="vidasana" id="vidasana">
        <label for="vidasana">Vida sana</label>
        </div>
    <div>
        <label>Seleccionar una imagen de perfil:</label>
        <input type="file" name="fotoPerfil" accept=".jpg">
    </div>
    <div>
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" id="contraseña">
        <label for="confirmacionContraseña">Confirmá tu contraseña:</label>
        <input type="password" name="confirmacionContraseña" id="confirmacionContraseña">
    </div>
    <div>
        <a href="/"><button type="submit">Enviar</button></a>
           </div>
    <div>
        <button type="reset">Borrar todos los datos</button>
    </div>
    </form>
</body>
</html>