<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="boxheader">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="textnav"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                <div class="navcontainer">
                        <ul class="right">
                           <a href="#"><li>Ofertas</li></a>
                            <a href="#"><li>Tiendas Oficiales</li></a>
                           <a href="#"><li> Vender</li></a>
                            <a href="#"><li>Ayuda</li></a>
                        </ul>
                        <ul class="left">
                           <a href="/register"> <li>Crea tu cuenta<i class="far fa-id-card"></i></li></a>
                            <a href="/login"><li>Ingresa<i class="fas fa-sign-in-alt"></i></li> </a>
                           <a href="#"> <li>Mis compras<i class="fas fa-shopping-basket"></i> </li>  </a> 
                        </ul>
                </div>
    
        </div>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form action="/" method="GET" class="register">
            <h2>Registrate</h2>
            <p>Si ya tenés cuenta, <a href="/login">iniciá sesión</a></p>
            <div>

                <input type="text" name="nombreApellido" id="nombreApellido" placeholder="Nombre y apellido">
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                <input type="mail" name="mail" id="mail" placeholder="e-mail">
            </div>
            <div>
                <label for="fechaNacimiento">
                    <h4>Fecha de nacimiento:</h4>
                </label>
                <input type="date" name="fechaNacimiento" id="fechaNacimiento">
            </div>
            <div>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </div>
            <div>
                <div class="inputleft">
                    <label>
                        <h4>Querés comprar o vender?</h4>
                    </label>
                    <input type="radio" name="vendedor" id="vendedor">
                    <label for="vendedor">vendedor</label>
                    <input type="radio" name="comprador" id="comprador">
                    <label for="comprador">comprador</label>
                </div>
                <div>
                    <label>
                        <h4>Categorías de interés:</h4>
                    </label>
                </div class="inputleft2">
                <div>
                <input type="checkbox" name="electro" id="electro">
                <label for="electro">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="moda" id="moda">
                <label for="moda">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="hogar" id="hogar">
                <label for="hogar">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="jugueteria" id="jugueteria">
                <label for="jugueteria">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="vidasana" id="vidasana">
                <label for="vidasana">Vida sana</label>
            </div>
                </div>
            </div>
            <label>Seleccionar una imagen de perfil:</label>
            <input type="file" name="fotoPerfil" accept=".jpg">
            </div>
            <div>
                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                <input type="password" name="confirmacionContraseña" id="confirmacionContraseña"
                    placeholder="Confirmar contraseña">
            </div>
            <div class="buttons">
                <a href="/"><button type="submit" class="button">Enviar</button></a>
                <button type="reset" class="button">Borrar todos los datos</button>
            </div>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer1">
            <i class="fas fa-credit-card"></i>
            <h2><strong> Pagá con tarjeta o en efectivo</strong></h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer2">
            <i class="fas fa-gift"></i>
            <h2><strong>Envío gratis desde $ 2.500</strong></h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer3">
            <i class="fas fa-user-shield"></i>
            <h2><strong>Seguridad, de principio a fin</strong></h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        </div>
        <div class="footer4">
            <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>